<div class="container-fluid">
  <form>
  
      <h1> Liste des livres</h1>
      <table class="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Title</th>
              
              <th> Prix </th>
              <th>Couverture</th>
              <th>Modifier</th>
              <th>Supprimer</th>
              
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let googleBook of googleBooksList | async; let i=index">
              <td>{{ googleBook.bookId }}</td>
              <td>{{ googleBook.title }}</td>
              <td>{{googleBook.price}}€</td>
              <td><img src="{{ googleBook.imgThumbnail }}" width="40" height="40"  alt=""></td>
              <td><button type="button" class="btn btn-secondary" (click)="onUpdate(author.authorId)">Modifier</button></td>
              <td><button type="button" class="btn btn-secondary" (click)="onDelete(author.authorId, i)">Supprimer</button></td>
            </tr>
          </tbody>
        </table> 
        
  </form>
  </div>
  