<div class="container-fluid">
  <form>
  
      <h1> Liste des Genres</h1>
      <div class="addGendle" *ngIf="typeRole === 'ROLE_ADMIN'"><a routerLink="/gendle-new">Ajouter un genre</a></div>
      <table class="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Type</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let gendle of gendleList | async; let i=index">
              <td>{{ gendle.gendleId }}</td>
              <td><a routerLink="/googlebooks-by-gendle/{{ gendle.gendleId }}">{{ gendle.typeGendle }}</a></td>
              </tr>
          </tbody>
        </table> 
        
  </form>
  </div>