<!-- <div class="container-fluid">
  <form>
      <div class="form-group">
        <label for="login">Nom</label>
        <input type="text" class="form-control" id="login" [(ngModel)]="username" name="login" required> 
      </div>
      <div class="form-group">
        <label for="login">Mot de passe</label>
        <input type="password" class="form-control" id="pwd" [(ngModel)]="password" name="pwd" required> 
      </div>
     <button type="submit" (click)="onSignIn()">Valider</button>
  </form>
</div> -->





<form [formGroup]="userSignInForm" class="login-form">

  <mat-form-field class="login-full-width">
      <input matInput placeholder="Enter your username" type="text" formControlName="username" [(ngModel)]="username">
  </mat-form-field>
  

  <mat-form-field class="login-full-width">
    <input matInput placeholder="Password" type="password" formControlName="password" [(ngModel)]="password">
</mat-form-field>

  <button mat-raised-button [disabled]="userSignInForm.invalid" (click)="onSignIn()">Se connecter</button>

</form>


