
<div class="pad">
<form [formGroup]="userSignInForm" class="login-form">

  <mat-form-field class="login-full-width">
      <input matInput placeholder="Enter your username" type="text" formControlName="username" [(ngModel)]="username">
  </mat-form-field>
  

  <mat-form-field class="login-full-width">
    <input matInput placeholder="Password" type="password" formControlName="password" [(ngModel)]="password">
</mat-form-field>

  <button mat-raised-button [disabled]="userSignInForm.invalid" (click)="onSignIn()">Se connecter</button>

</form>
</div>

