<mat-sidenav-container class="container">
    <mat-sidenav mode="side" opened class="menu">
      <h3>Menu</h3>
      <ul>
        <li><a routerLink="/gendles">Genres</a></li>
        <li><a routerLink="/googlebooks">Livres</a></li>
        <li><a routerLink="/authors">Auteurs</a></li>
        <li><a routerLink="/login">SignIn</a></li>
        <li><a routerLink="/user-new">SignUp</a></li>
      </ul>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary" class="mat-elevation-z5">
        <h1>
          {{ title }}
        </h1> 
        
      </mat-toolbar>
      <div class="pad">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content> 
  </mat-sidenav-container>

