<<<<<<< HEAD
=======
.container {
  max-width: auto;
  /* max-height: auto; */
  display: flex;
  flex-direction: column;
  /* align-content: center; */
}

.image {
    overflow: hidden;
    border-radius: 50px;
    width: 40px;
    height: 40px;
}


.img {
  height: 320px;
  width: 240px;
}

.body {
  display: flex;
  height: 320px;
  flex-direction: row;

}

.couverture {
  display: flex;
}

.matlist {
  display: flex;
}

.footer {
  align-content: center;
  flex-grow: 1;

  
}

.header {
  flex-grow: 0.2;
}





































/* .example-card {
  max-width: auto;
  max-height: auto;
}

.example-header-image {
  background-image: var(--url);
  background-size: cover;
}

.image {
  overflow: hidden;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  float: none;
  
}

.img {
  width: 240px;
  height: 320px;
  margin-bottom: 30px;
  border: 1px white solid;
  float: left;
}

.clear {
  overflow: auto;
  clear: both;
}

.boutton {
  border: 1px white solid;
}

mat-card-header {
  display: inline-block;
  position: relative;
  
}


mat-card-content {
  display: inline-block;
}

/* .bite {
  display: inline-block;
  float: left;
}

.couverture {
  display: inline;
} */
/* 
mat-list {
  display: inline;
  position: absolute;
} */
 
>>>>>>> 28d62e9fea056a8e1c67758763f292aca2a7f726
