<mat-card class="container">
  <mat-card-header class="header">
    <div mat-card-avatar><img class="image" src="assets/{{ editedGooglebook.categorie }}.png"></div>
    <mat-card-title>{{ editedGooglebook.title }}</mat-card-title>
    <mat-card-subtitle>{{ editedGooglebook.categorie }}</mat-card-subtitle>
  </mat-card-header>
  <div class="body">
    <div class="couverture">
      <div classe ="img"><img mat-card-image src="{{ editedGooglebook.imgThumbnail }}"></div>
    </div>
    <div class = "container-list">
    <div class="matlist">
      <mat-list role="list">
        <mat-list-item role="listitem">Quantité disponible: {{editedGooglebook.availableQuantity}}</mat-list-item>
        <mat-list-item role="listitem">Code ISBN: {{ editedGooglebook.codeISBN }}</mat-list-item>
        <mat-list-item role="listitem">Langue:&nbsp; <span font style = "text-transform: uppercase"> {{ editedGooglebook.langage }}</span></mat-list-item>
        <mat-list-item role="listitem">Nombre de pages: {{editedGooglebook.pageCount}}</mat-list-item>
        <mat-list-item role="listitem">Prix: {{editedGooglebook.price}} € </mat-list-item>
        <mat-list-item role="listitem">Auteurs: <ul> <app-author-by-book *ngFor = "let author of authorsList | async; let i=index" [authorName] = "author.fullName"></app-author-by-book></ul></mat-list-item>
      </mat-list>
      </div>
    </div>
  </div>
  <div class="footer">
  <mat-card-content>{{ editedGooglebook.description }}</mat-card-content>
  </div>
  <mat-card-actions><button mat-button class="boutton" (click)="onOrder(googleBook.bookId)">Commander</button></mat-card-actions>
</mat-card>








<!-- <mat-card class="example-card">
  <mat-card-header>
    <img class="image" src="assets/{{ editedGooglebook.categorie }}.png">
    <mat-card-title> {{ editedGooglebook.title }}</mat-card-title>
    <mat-card-subtitle>{{ editedGooglebook.categorie }}</mat-card-subtitle>
  </mat-card-header>
      <div>
        <img class="img" src="{{ editedGooglebook.imgThumbnail }}">
      </div>
    <div class="matlist">
      <mat-list role="list">
        <mat-list-item role="listitem">Item 1</mat-list-item>
        <mat-list-item role="listitem">Item 2</mat-list-item>
        <mat-list-item role="listitem">Item 3</mat-list-item>
      </mat-list>
    </div>
  <mat-card-content>
    {{ editedGooglebook.description }}
  </mat-card-content>
  <mat-card-actions>
    <button mat-button class="boutton" (click)="onOrder(googleBook.bookId)">Commander</button>
  </mat-card-actions>
</mat-card> -->










<!-- table class="table">
  <thead>
    <tr>
      <th>Quantité disponible</th>
      <th>Catégorie</th>
      <th>codeISBN</th>
      <th>Description</th>
      <th>Couverture</th>
      <th>Disponible en Ebook</th>
      <th>language</th>
      <th>Nombre de pages</th>
      <th>Prix</th>
      <th>Titre</th>
      <th>Genre</th>
      <th>Editeur</th>
      <th>Auteurs</th>

    </tr>
  </thead>

  <tbody>
    <tr>
      <td>{{ editedGooglebook.availableQuantity }}</td>
      <td>{{ editedGooglebook.categorie }}</td>
      <td>{{ editedGooglebook.codeISBN }}</td>
      <td>{{ editedGooglebook.description }}</td>
      <td>{{ editedGooglebook.imgThumbnail }}</td>
      <td>{{ editedGooglebook.isEbook }}</td>
      <td>{{ editedGooglebook.langage }}</td>
      <td>{{ editedGooglebook.pageCount }}</td>
      <td>{{ editedGooglebook.price }}</td>
      <td>{{ editedGooglebook.title }}</td>
      <td>{{ editedGooglebook.gendleId }}</td>
      <td>{{ editedGooglebook.publishedId }}</td>
      <td>{{ editedGooglebook.authors }}</td>
    </tr>
  </tbody>

  {{ editedGooglebook.title }} -->
