.container {
  max-width: auto;
  max-height: auto;
  display: flex;
  flex-direction: column;
  /* align-content: center; */
}

.image {
  overflow: hidden;
  border-radius: 50px;
  width: 40px;
  height: 40px;
}

.img {
  
}

.body {
  display: flex;
  height: auto;
  flex-direction: row;
  /* display: block; */
}

.couverture {
  width: 250px;
  margin-top: 40px;
  margin-right: 50px;
  float: left;
  border: 1px white solid;
  
}

.container-list {
  justify-content: center;
  align-content: center;
}

.matlist {
  width: 700px;
  align-content: center;
}

.footer {
  align-content: center;
  flex-grow: auto;
  margin-top: 40px;
}

.header {
  flex-grow: auto;
}

.boutton {
  border: 1px white solid;
}