.example-card {
  max-width: auto;
  max-height: auto;
}

.example-header-image {
  background-image: var(--url);
  background-size: cover;
}

.image {
  overflow: hidden;
  border-radius: 50px;
  width: 40px;
  height: 40px;
}

.img {
  width: 240px;
  height: 320px;
  margin: 0;
  border: 1px white solid;
  float: left;
}

.clear {
  overflow: auto;
  clear: both;
}

.boutton {
  border: 1px white solid;
}

/* .bite {
  display: inline-block;
  float: left;
}

.couverture {
  display: inline;
<<<<<<< HEAD
} /
/ 
mat-list {
  display: inline;
  position: absolute;
} */
=======
} */
/* 
mat-list {
  display: inline;
  position: absolute;
} */

>>>>>>> a87f72c9fbd7625d109e75d502add8ac8866d065
